/* SUBSTANCE STYLING  */
/* WELCOME TO MY... DOMAIN. */
article {
  float: left;
  width: 590px;
  padding: 25px;
}
p {
  font-family: verdana;
}

section {
  width: 960px;
  margin: auto;
  background-color: #A20021;
}



/*  SUBSTANCE SYLISHNESS END  */


/* BEGINNING OF HEADING STYLES  */
header{
  background-color: #F79D5C;
  height: 200px;
  border-style: groove;
  border-color: none;
  border-width: thick;
}
h1 {
  text-align: center;
  font-family: 'Oswald';
  font-size: 72;
  margin: 0px;
  padding: 25px;
  letter-spacing: 5px;
}

h2 {
 text-align: center;
 font-family: Papyrus;
 font-size: 36;
 margin: 0px;
 padding: 0px;
}

/* HEADING STYLES END  */



/* FOOTER STYLING  */
footer{
  clear: both;
  background-color: black;
  padding: 25px;
  color: white;
}
/* FOOTER STYLING  */



/* NAVIGATION STYLING  */

nav {
  float: left;
  width: 320 px;
}
.button {
  display: block;
  position:relative;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

nav ul li a {
font-size: 20px;
font-family: Trebuchet MS;


height: 60px;
text-transform: uppercase;
text-decoration: none;
border-left:3px #A20021;
padding-left: 5px;
border-bottom: 3px #A20021;
}

li a {
    display: block;
    color: #000;
 padding: 8px 16px;
 text-decoration: none;

}

li {
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
}

p {
  background-color: rgba(255, 0, 0, 0.5);
  margin: 0px;
}

#Post1 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b5/Xkcd_philosophy.png")
}


li a:hover {
    background-color: #555;
    color: white;
}

.active {
    background-color: #4CAF50;
    color: #A20021;
}

/* END NAVIGATING STYLING */
