/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Reset */

/*****Classes****/

.textwrap {
	float: right;
	margin: 10px;
}





/* structural */
main {
	display: table;
  width: 1024px;
}
section {
background-color: white;
display: table-cell;
width:799px;
padding: 40px;
}



body {
  background-color: lightblue;
  margin: 0px;
  padding: 0px;
}

#container {
	width: 1024px;
	margin: auto;
	background: #ffffff;
}

header {
  margin: 0px;
  padding: 40px;
  height: 140px;
  background-color: pink;
  margin-right: 0px;
	background-image: url(images/header-ball.png);


}

#cited {
	text-align:center;
}


/***** Article Styles ****/
article p {
	line-height: 30px;
	font-family: helvetica;
	font-weight: lighter;
	font-size: 18px;
}

h1 {
	font-family: lato;
	font-size: 42px;
	font-weight: bold;
	padding-bottom: 40px;
	text-align: right;

}

img {
	padding-top: 20px;
	width: 300px;
}
ol {
	line-height: 30px;
	font-family: helvetica;
	font-weight: lighter;
	font-size: 18px;
}
/*** NAV STYLES ***/
ul li a {
font-size: 20px;
font-family: helvetica;
font-weight: lighter;
color: white;
text-decoration: none;

}


aside li {
	margin-top: 30px;
	margin-left: 25px;
	background-color: rgba(0, 0, 0, 0.7);
	list-style: none;
	width: 150px;
	height:60px;
	text-align: center;
	line-height: 60px;
  padding: 10px;
}

li a {
    display: block;

	}

aside {
	display: table-cell;
  width: 225px;
  text-decoration: none;
  background-image: url(images/sidebar.png);

}

li a:hover {
    background-color: rgba(80, 80, 80, 0.5);;
    color: white;
}

/* END NAVIGATING STYLING */


/*** FOootterrrrrr ***/
footer{
  clear: both;
  background-color: #969696;
  padding: 25px;
  color: white;
	text-align: right;
 font-family: helvetica;
 font-weight: lighter;
 font-size: 12px;
}
