/* Reset */
html body div span object iframe
h1 h2 h3 h4 h5 h6 p blockquote pre
a abbr acronym address big cite code
del dfn em img ins kbd q s samp
small strike strong sub sup tt var
b u i
dl dt dd ol ul li
fieldset form label legend
table caption tbody tfoot thead tr th td
article aside canvas details embed
figure figcaption footer header hgroup
menu nav output ruby section summary
time mark audio video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article aside details figcaption figure
footer header hgroup menu nav section {
	display: block;
}
body {
	line-height: 1;
}
ol ul {
	list-style: none;
}
blockquote q {
	quotes: none;
}
blockquote:before blockquote:after
q:before q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset */

/* NAVIGATION STYLING  */
nav {
  float: left;
  width: 220px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 220px;

}

nav ul li a {
font-size: 20px;
font-family: Trebuchet MS;
text-transform: uppercase;
text-decoration: none;
border-left: 0px;
padding-left: 0px;
border-bottom: 3px;
}

li a {
    display: block;
    color: #000;
 padding: 0px 0px;
 text-decoration: none;
 background-image: url(images/sidebar.png);
 color: white;
}

li {
  width: 220px;
  height: 100px;
  text-align: center;
  line-height: 100px;
}


li a:hover {
    background-color: rgba(255, 80, 80, 0.5);;
    color: white;
}



/* END NAVIGATING STYLING */
