/* NAVIGATION STYLING  */

nav {
  float: left;
  width: 220 px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 220px;

}

nav ul li a {
font-size: 20px;
font-family: Trebuchet MS;
text-transform: uppercase;
text-decoration: none;
border-left: 0px;
padding-left: 0px;
border-bottom: 3px;
}

li a {
    display: block;
    color: #000;
 padding: 0px 0px;
 text-decoration: none;
 background-color: rgba(255, 0, 0, 0.5);;
 color: white;
}

li {
  width: 220px;
  height: 100px;
  text-align: center;
  line-height: 100px;
}


li a:hover {
    background-color: rgba(255, 80, 80, 0.5);;
    color: white;
}



/* END NAVIGATING STYLING */
